* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
.w3-half img{
    margin-bottom:-6px;
    margin-top:16px;
    opacity:0.8;
    cursor:pointer
}
.w3-half img:hover{
    opacity:1
}
  
html {
    scroll-behavior: smooth;
}

.background {
    width: 100%;
    height: 92vh;
    display: flex;
    flex-direction: column;
     padding-left: 28px;
    padding-top: 26px;
    padding-bottom: 20px;
    padding-right: 27px;
    
    position: relative;
    background:#2d1719;
    background-repeat: no-repeat;
    background-size:cover;
}
#div3 {
    border-color: white;
    border-radius: 2%;
    border-spacing: 2px; ;
    box-shadow: 0 0 5px 6px whitesmoke ;
    border:3px;
      width: 780px; 
      height: 545px;
       margin-top: 40px;
       margin-left:20px;
        margin-right:auto;
        padding-left: 28px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 27px;
  } 

.background1{
    width:100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    position: relative;
    background:#2d1719;
    background-repeat: no-repeat;
    background-size:cover;
     padding-left: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 27px;
    
    font-size: 18px;
    font-family: 'Spectral';
}