* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}
.topnav
{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 3;
    background-color: white;
}
.logotext {
    padding-left: 10px;
    padding-top: 2vh;
    font-family: 'Alegreya';
    color: rgb(26, 26, 26);
}
.navbar {
    background-color: transparent;
}

.navbar ul {
    padding: 0px 30px 0px 0px;
}

.navbar ul li a {
    color: black;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 12px;
}

.navbar ul li a .fas {
    padding-right: 5px;
    padding-left: 5px;
}

.navbar ul li a:hover {
    color: #4A2849;
}

.navbar ul li.active>a {
    color: #4A2849;
    font-weight: bold;
    font-size: 12px;
    border-left: 3px solid rgb(74, 40, 73);
    border-radius: 40px;
}

.iconStyle {
    color: #4A2849;
}

.background {
    width: 100%;
    height: 92vh;
    display: flex;
    flex-direction: column;
    padding-left: 64px;
    padding-top: 164px;
    position: relative;
    background:url('./bg.png');
}

.iste {
    font-family: 'Philosopher', sans-serif;
    font-size: 64px;
    color: white;
    font-weight: 700;
}

.desc {
    font-size: 24px;
    font-family: 'Spectral', serif;
    padding-right: 64px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

.discover {
    height: 50px;
    width: 220px;
    color: white;
    font-weight: 900;
    font-family: 'Crimson Pro', serif;
    font-size: 20px;
    position: relative;
    background: linear-gradient(94.76deg, #93628F -1.18%, #492549 100%);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
    border: 0px;
    cursor: pointer;
}

.sep {
    background-color: #93628f;
    position: relative;
    width: 100%;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 0px;
}

#mainmodal {
    font-family: 'Gentium Book Plus', serif;
    width: 100%;
    text-align: center;
}

.modalconent {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #93628F;
    width: 100%;
}

.marquee {
    color: white;
    letter-spacing: 2px;
    padding: 10px;
    font-size: 20px;
}

.about {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ahead {
    text-align: center;
    width: 100%;
    font-family: 'Philosopher', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 8vh;
    padding-top: 4vh;
    color: #4C264B;
}

.acontent {
    width: 100%;
    padding-left: 12vh;
    padding-right: 12vh;
    padding-top: 2vh;
    height: fit-content;
    font-family: 'Spectral', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3vh;
    line-height: 36px;
    color: #000000;
}

.aimg {
    height: 40vh;
    padding-top: 2vh;
    padding-bottom: 1vh;
}

ul.b {
    list-style-type: square;
    padding-left: 12vh;
    padding-right: 12vh;
}

.events {
    width: 100%;
    height: fit-content;
    padding-bottom: 4vh;
}

.ehead {
    position: relative;
    text-align: center;
    width: 100%;
    font-family: 'Philosopher', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 8vh;
    padding-top: 2vw;
    color: #4C264B;
}

.econtent {
    position: relative;
    text-align: center;
    width: 100%;
    font-family: 'Spectral', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 3vh;
    padding-top: 2vh;
    line-height: 36px;
    color: #000000;
}

.ebox {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 2vh;
    padding-left: 12vh;
    padding-right: 12vh;
}

.box1,
.box2,
.box3 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28vw;
    height: 100%;
    background: #4A2849;
    border: 1px solid rgba(0, 0, 0, 0.45);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 1vw;
    padding: 4vw;
}

.icon {
    height: 12vh;
    padding-top: 2vh;
}

.boxhead {
    width: fit-content;
    text-align: center;
    font-family: 'Alegreya';
    font-style: normal;
    font-size: 5vh;
    line-height: 48px;
    color: #FFFFFF;
    padding-top: 4vh;
}

.boxcont {
    width: fit-content;
    font-family: 'Spectral', serif;
    font-style: normal;
    font-size: 3vh;
    line-height: 4vh;
    text-align: center;
    color: #FFFFFF;
    padding-top: 4vh;
}

.footer {
    text-align: center;
    font-family: 'Gentium Book Plus', serif;
    padding-bottom: 5vh;
    padding-top: 5vh;
    border-top: #4A2849 1px solid;
    font-weight: bold;
}
.social{
    padding-top: 12vh;
    padding-bottom: 2vh;
}
.sochead{
    text-align: center;
    font-family: 'Alegreya';
    font-style: normal;
    font-size: 5vh;
    color: #4A2849;
}
.socicon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.insta, .linkedin, .youtube, .facebook, .discord{
    padding: 10px;
}
.si{
    background-color: #000000;
    border-radius: 25%;
}
.si:hover{
    background-color: #4A2849;
}
.fab{
    padding: 3px;
}

@media screen and (max-width: 800px) {
    .logotext {
        display: none;
    }

    .nav {
        width: 100%;
        height: 90px;
    }

    .background {
        width: 100%;
        height: fit-content;
        padding-left: 6vw;
        padding-top: 30vw;
        padding-bottom: 30vw;
    }

    .iste {
        font-size: 15vw;
    }

    .desc {
        font-size: 4vw;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .discover {
        height: 12vw;
        width: 50vw;
        font-size: 5vw;
        border-radius: 45px;
    }

    .about {
        height: fit-content;
        width: 100%;
    }

    .ahead {
        width: 100%;
        font-size: 12vw;
        padding-top: 4vh;
    }

    .acontent {
        width: 100%;
        padding-left: 4vw;
        padding-right: 4vw;
        padding-top: 2vh;
        height: fit-content;
        line-height: 7vw;
        font-size: 4vw;
    }

    .aimg {
        height: 40vh;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }

    ul.b {
        padding-left: 6vw;
        padding-right: 4vw;
    }

    .events {
        width: 100%;
        height: fit-content;
    }

    .ehead {
        width: 100%;
        font-size: 12vw;
    }

    .econtent {
        width: 100%;
        font-size: 4vw;
        padding-left: 4vw;
        padding-right: 4vw;
        padding-top: 2vh;
        line-height: 7vw;
    }

    .ebox {
        width: 100%;
        padding-top: 2vh;
        padding-left: 4vw;
        padding-right: 4vw;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .box1,
    .box2,
    .box3 {
        width: 100%;
        height: fit-content;
        border-radius: 15px;
        padding: 4vw;
        margin-bottom: 2vw;
    }

    .icon {
        height: 12vh;
        padding-top: 2vh;
    }

    .boxhead {
        font-size: 8vw;
        line-height: 8vw;
        padding-top: 4vh;
    }

    .boxcont {
        font-size: 4vw;
        padding-top: 4vh;
    }
}