.main{
    background-color: #4A2849;
}
.teamhead{
    text-align: center;
    width: 100%;
    font-family: 'Philosopher', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 8vh;
    padding-top: 4vh;
    color: white;
}
.teamdesc{
    width: 100%;
    text-align: center;
    padding-left: 12vh;
    padding-right: 12vh;
    padding-top: 2vh;
    padding-bottom: 5vh;
    height: fit-content;
    font-family: 'Spectral', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3vh;
    line-height: 36px;
    color: white;
}
.team{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    align-items: center;
    padding-bottom: 10vh;
}
.carda,.cardb,.cardc,.cardd,.carde,.cardf{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card1,.card2,.card3,.card4,.card5{
    background-color: #93628F;
    width: 180px;
    height: 180px;
    margin: 10px;
    border-radius: 50px;
}
.teamimg{
    object-fit: cover;
    height:180px;
    width: 180px;
    border-radius: 50px;
}
img:hover {
    opacity: 0.2;
    transition:opacity 1s;
  }
.hide {
    display: none;
    margin-top: -120px;
    padding: 5px;
    text-align: center;
}
.card1:hover .hide {
    display: block;
    color: white;
}
.card2:hover .hide {
    display: block;
    color: white;
}
.card3:hover .hide {
    display: block;
    color: white;
}
.card4:hover .hide {
    display: block;
    color: white;
}
.card5:hover .hide {
    display: block;
    color: white;
}
.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-bottom: 4vh;
}
.heading1{
    display: flex;
    align-items: center;
}
.heading2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.thead{
    padding-left: 38px;
    font-size: 24px;
    cursor: pointer;
}
.thead:hover{
    color: #93628F;
}